[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
urllib3 = "*"
requests = "*"
waitress = "*"
livereload = "*"
Flask-gzip = "*"
Flask-Caching = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"