{% extends 'layout.html' %}

{% block metatags %}
<meta charset="utf-8" />

<!-- Mobile Metas -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

<meta name="description" content="About Us">
{% endblock %}

{% block title %}Learn more about MindHug{% endblock %}

{% block body %}

{% include 'includes/_navbar.html' %}

<div class="section">
  <div class="container">

            <div class="row">
                <div class="title-area">
                    <h2>About Us</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">MindHug is a UCL <a href="https://www.ucl.ac.uk/">(University College London)</a> incubated mental wellbeing startup with a vision to bring happiness and wellbeing for all. It was the personal challenges and subsequent research by our founder, Raj, that sowed the seeds to MindHug. We focus on the problem of employee and university student burnout, depression and anxiety. Our mission is to provide individuals with knowledge and access to a wider choice of beneficial alternative therapies and activities for mental wellbeing. These include experiential and expressive art, music, sound therapies and mindfulness. At the same time, we look to address challenges with capacity and waiting lists, and high cost of therapies and activities. Finally, we want to leverage data and help individuals understand what works best for their mental wellbeing.</p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/raj.webp') }}" type="image/webp" alt="Chitraj Singh, Co-Founder and CEO of MindHug" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/raj.png') }}" type="image/png" alt="Chitraj Singh, Co-Founder and CEO of MindHug" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/raj.png') }}" type="image/png" alt="Chitraj Singh, Co-Founder and CEO of MindHug" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Chitraj (Raj) Singh</h3>
                          <p class="small-text">CEO / Co-Founder</p>
                          <a href="https://uk.linkedin.com/in/chitraj-singh-583b46b" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>
                        </div>
                </div>

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/thad.webp') }}" type="image/webp" alt="Thaddeus Cheung" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/thad.jpg') }}" type="image/jpg" alt="Thaddeus Cheung" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/thad.jpg') }}" type="image/jpg" alt="Thaddeus Cheung" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Dr. Thaddeus Cheung</h3>
                          <p class="small-text">Chief Medical Officer / Co-Founder</p>
                          <a href="https://uk.linkedin.com/in/thad88" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                        
                        </div>
                </div>

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/finbarrs.webp') }}" type="image/webp" alt="Finbarrs Oketunji" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/finbarrs.png') }}" type="image/png" alt="Finbarrs Oketunji" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/finbarrs.png') }}" type="image/png" alt="Finbarrs Oketunji" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Finbarrs Oketunji</h3>
                          <p class="small-text">CTO / Co-Founder</p>
                          <a href="https://www.linkedin.com/in/finbarrs-oketunji/" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                          
                        </div>
                </div>

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/sakshi.webp') }}" type="image/webp" alt="Sakshi Agarwal" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/sakshi.png') }}" type="image/png" alt="Sakshi Agarwal" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/sakshi.png') }}" type="image/png" alt="Sakshi Agarwal" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Sakshi Agarwal</h3>
                          <p class="small-text">Business Manager</p>
                          <a href="https://www.linkedin.com/in/sakshiagarwal97" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                          
                        </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/manmeet.webp') }}" type="image/webp" alt="Manmeet Sethi" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/manmeet.png') }}" type="image/png" alt="Manmeet Sethi" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/manmeet.png') }}" type="image/png" alt="Manmeet Sethi" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Manmeet Sethi</h3>
                          <p class="small-text">Data Engineer</p>
                          <a href="https://www.linkedin.com/in/manmeet-sethi-52a597162" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                          
                        </div>
                </div>

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/rajveer.webp') }}" type="image/webp" alt="Rajveer Beerda" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/rajveer.png') }}" type="image/png" alt="Rajveer Beerda" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/rajveer.png') }}" type="image/png" alt="Rajveer Beerda" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Rajveer Beerda</h3>
                          <p class="small-text">Product Engineer</p>
                          <a href="https://www.linkedin.com/in/rajveer-beerda/" target="_blank">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                          
                        </div>
                </div>

            </div>

            <div class="row">
              <div class="bottom-area">
                <h3>Help revolutionise mental wellbeing</h3>
                <p>We want to remove obstacles to mental wellbeing. We're looking for passionate and talented individuals to join us on this journey!</p>
                <button type="submit" onClick="window.location='/careers';">Check out our job openings</button>
              </div> 
            </div>

  </div>
</div>

{% endblock %}
