{% extends 'layout.html' %}

{% block metatags %}
<meta name="description" content="About Us">
{% endblock %}

{% block title %}Learn more about MindHug{% endblock %}

<body class="sub_page">

{% block body %}

{% include 'includes/_navsub.html' %}

<div class="section">
        <div class="container">

            <div class="row">
                <div class="title-area">
                    <h2>About Us</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">MindHug is an early-stage mental wellbeing start-up supported and incubated by UCL Innovation and Enterprise. We believe that mental health is an important and often overlooked aspect of overall health. We envision creating a platform for people to have more choice in activities and better ownership over their mental health and wellbeing i.e. think art therapy, meditation, pet therapy, etc. We want to offer greater choice, credibility and engagement as well as provide the tools and data to help individuals find what works best for them.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/raj.webp') }}" type="image/webp" alt="Chitraj Singh, Co-Founder and CEO of MindHug" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/raj.png') }}" type="image/png" alt="Chitraj Singh, Co-Founder and CEO of MindHug" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/raj.png') }}" type="image/png" alt="Chitraj Singh, Co-Founder and CEO of MindHug" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Chitraj Singh</h3>
                          <p class="small-text">CEO / Co-Founder</p>
                          <a href="https://uk.linkedin.com/in/chitraj-singh-583b46b">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>
                        </div>
                </div>

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/thad.webp') }}" type="image/webp" alt="Thaddeus Cheung" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/thad.png') }}" type="image/png" alt="Thaddeus Cheung" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/thad.png') }}" type="image/png" alt="Thaddeus Cheung" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Dr. Thaddeus Cheung</h3>
                          <p class="small-text">Chief Medical Officer / Co-Founder</p>
                          <a href="https://uk.linkedin.com/in/thad88">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                        
                        </div>
                </div>

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/finbarrs.webp') }}" type="image/webp" alt="Finbarrs Oketunji" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/finbarrs.png') }}" type="image/png" alt="Finbarrs Oketunji" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/finbarrs.png') }}" type="image/png" alt="Finbarrs Oketunji" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Finbarrs Oketunji</h3>
                          <p class="small-text">CTO / Co-Founder</p>
                          <a href="https://www.linkedin.com/in/finbarrs-oketunji/">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                          
                        </div>
                </div>

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/sakshi.webp') }}" type="image/webp" alt="Sakshi Agarwal" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/sakshi.png') }}" type="image/png" alt="Sakshi Agarwal" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/sakshi.png') }}" type="image/png" alt="Sakshi Agarwal" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Sakshi Agarwal</h3>
                          <p class="small-text">Business Manager (Intern)</p>
                          <a href="#">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                          
                        </div>
                </div>

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/manmeet.webp') }}" type="image/webp" alt="Manmeet Sethi" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/manmeet.png') }}" type="image/png" alt="Manmeet Sethi" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/manmeet.png') }}" type="image/png" alt="Manmeet Sethi" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Manmeet Sethi</h3>
                          <p class="small-text">Data Engineer (Intern)</p>
                          <a href="#">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                          
                        </div>
                </div>

                <div class="col-md-3">
                        <div class="avatar avatar-danger">
                          <picture>
                            <source srcset="{{ url_for('static', filename='images/rajveer.webp') }}" type="image/webp" alt="Rajveer Beerda" class="img-fluid" rel="nofollow">
                            <source srcset="{{ url_for('static', filename='images/rajveer.png') }}" type="image/png" alt="Rajveer Beerda" class="img-fluid" rel="nofollow"> 
                            <img src="{{ url_for('static', filename='images/rajveer.png') }}" type="image/png" alt="Rajveer Beerda" class="img-fluid" rel="nofollow">
                          </picture>
                        </div>
                        <div class="description">
                          <h3 class="title">Rajveer Beerda</h3>
                          <p class="small-text">Product Engineer (Intern)</p>
                          <a href="#">
                            <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                          </a>                          
                        </div>
                </div>

            </div>

            <div class="row">
              <div class="bottom-area">
                <h3>Help revolutionise mental health</h3>
                <p>Mental health is a challenging problem in the modern era. We're looking for passionate and talented individuals to help us solve it. Check out our job openings!</p>
                <button type="submit" onClick="window.location='/careers';">See Job Openings</button>
              </div> 
            </div>

        </div>
    </div>


{% endblock %}
