{% extends 'layout.html' %}

{% block metatags %}
<meta name="description" content="Career at MindHug">
{% endblock %}

{% block title %}Join the team at MindHug{% endblock %}

{% block body %}

{% include 'includes/_navbar.html' %}

<div class="section">
        <div class="container">

            <div class="row">
                <div class="title-area">
                    <h2>Careers</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">We are trying to revolutionise how people understand, manage and maintain their mental wellbeing. Want to join us on this journey? See job openings below.</p>
                </div>
            </div>

            <div class="mhjobs center-block">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Mobile Developer (Summer Intern)
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p><h5>Who We are</h5><p>
                        <p>MindHug is an early-stage mental wellbeing start-up supported and incubated by UCL Innovation and Enterprise. We believe that mental health is an important and often overlooked aspect of overall health. We envision creating a platform for people to have more choice in activities and better ownership over their mental health and wellbeing i.e. think art therapy, meditation, pet therapy, etc. We want to offer greater choice, credibility and engagement as well as provide the tools and data to help individuals find what works best for them. We are currently a small team and looking to grow the team as we develop our MVP and have a number of events in the pipeline.</p>
                      <p><h5>Where Are We?</h5><p>
                        <p>We are part of the Hatchery, UCL’s incubator program and work at their co-working space, BaseKX - set in vibrant and innovation-friendly Kings Cross, moments away from Regents Canal, Granary Square and Google. The Hatchery is a programme designed to support the most promising entrepreneurs and startups.</p>
                      <p><h5>Your Role</h5><p>
                        <p>As anyone working in a startup will tell you - everyone wears multiple hats multiple times a day! Flexibility is therefore key that also means there is never a dull moment. You will be working closely with the founders and among other things, will be involved in:</p>
                        <p>
                          <ul>
                            <li>Development & Maintenance of Mobile Application(s).</li>
                            <li>Helping with all things tech: Software Development, Web Development, Cloud Architecture etc.</li>
                            <li>Assisting with research and product development.</li>
                            <li>Getting to grips with strategy, business planning, financial modelling and fundraising.</li>
                            <li>Helping with marketing, branding and social media activities.</li>
                          </ul>
                        </p>
                        <p><h5>Technical Skills of Ideal Candidate</h5></p>
                        <p>
                          <ul>
                            <li>Mobile App Development (Hybrid/Native).</li>
                            <li>Hands-on experience with Apache Cordova/React Native/Flutter.</li>
                            <li>Python (Flask/Django).</li>
                            <li>Ability to work with REST APIs.</li>
                          </ul>
                        </p>
                        <p><h5>Essential</h5></p>
                        <p>We are looking for enthusiastic, creative, eager to learn, and driven individuals who are currently enrolled in any year of their undergraduate degree(CSE/ECE). This will be on a full-time basis for 2-3 months starting from May. We want the right person and are flexible about how this person works. Good interpersonal and communication skills, experience in App Development, an interest in innovation and a passion for mental wellbeing are a must.</p>
                        <p><h5>Nice to have (but not essential!)</h5></p>
                        <p>
                          <ul>
                            <li>Any experience with Ember JS.</li>
                            <li>Knowledgeable in UX/UI.</li>
                            <li>Data science knowledge is a plus.</li>
                            <li>Some experience in psychology, psychiatry and/or medical sciences.</li>
                            <li>Some exposure to GDPR, medical regulations, and NHS and NICE guidelines.</li>
                            <li>Previous work in a startup will be looked at favourably.</li>
                          </ul>
                        </p>
                        <p>MindHug is an equal opportunity employer committed to diversity and inclusion. We encourage qualified applications from individuals with a wide array of backgrounds irrespective of gender, age, race, religion or belief system, sexual orientation and disability. Our people make us who we are.</p>
                        <p><h5>What We Offer</h5></p>
                        <p>This is an incredible opportunity to join a new team, build a product and develop various skills whilst networking with other entrepreneurs - and learn all about innovation and entrepreneurship. You will gain broad experience in developing technology, business strategy, operations, as well as client-facing and desk-based communication. This is a paid remote-internship (work from home!) with a stipend of <strong>Rs. 5000-8000 per month</strong>. If this internship ticks the boxes for you, we would love to hear from you.</p>
                        <button type="submit" onClick="window.location='https://docs.google.com/forms/d/e/1FAIpQLScd29nTkFsSelZ1hmFBsYRoNmYftOo-a_Cf3nCSFv0O1__LtQ/viewform';">Apply Now</button>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Growth Management Intern
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <p><h5>Who We are</h5><p>
                        <p>MindHug is an early-stage mental wellbeing start-up supported and incubated by UCL Innovation and Enterprise. We believe that mental health is an important and often overlooked aspect of overall health. We envision creating a platform for people to have more choice in activities and better ownership over their mental health and wellbeing i.e. think art therapy, meditation, pet therapy, etc. We want to offer greater choice, credibility and engagement as well as provide the tools and data to help individuals find what works best for them. We are currently a small team and looking to grow the team as we develop our MVP and have a number of events in the pipeline.</p>
                      <p><h5>Where Are We?</h5><p>
                        <p>We are part of the Hatchery, UCL’s incubator program and work at their co-working space, BaseKX - set in vibrant and innovation-friendly Kings Cross, moments away from Regents Canal, Granary Square and Google. The Hatchery is a programme designed to support the most promising entrepreneurs and startups.</p>
                      <p><h5>Your Role</h5><p>
                        <p>As anyone working in a startup will tell you - everyone wears multiple hats multiple times a day! Flexibility is therefore key that also means there is never a dull moment. You will be working closely with the founders and among other things, will be involved in:</p>
                        <p>
                          <ul>
                            <li>Assisting with research, project management, business development and product development.</li>
                            <li>Getting to grips with strategy, business planning, financial modelling and fundraising.</li>
                            <li>Helping with marketing, branding and social media activities.</li>
                            <li>Assisting in event organisation.</li>
                            <li>Handling emails and queries.</li>
                            <li>Attending and minuting meetings.</li>
                            <li>Filling in for the work of the CEO and Chief Medical Officer when needed.</li>
                          </ul>
                        </p>
                        <p><h5>Essential</h5></p>
                        <p>We are looking for an enthusiastic, creative, eager to learn, and driven individuals to join us on a full-time/part-time/flexible basis. We want the right person and are flexible about how this person works. Good interpersonal and communication skills, an interest in innovation and a passion for mental wellbeing are a must.</p>
                        <p><h5>Nice to have (but not essential!)</h5></p>
                        <p>
                          <ul>
                            <li>Knowledgeable in Technology ideally in product management, software and web development, and/or UX/UI.</li>
                            <li>Data science knowledge is a plus.</li>
                            <li>Some experience in psychology, psychiatry and/or medical sciences.</li>
                            <li>Some exposure to GDPR, medical regulations, and NHS and NICE guidelines.</li>
                            <li>Some knowledge of marketing channels and social media advertising.</li>
                            <li>Previous work in a startup will be looked at favourably.</li>
                          </ul>
                        </p>
                        <p>MindHug is an equal opportunity employer committed to diversity and inclusion. We encourage qualified applications from individuals with a wide array of backgrounds irrespective of gender, age, race, religion or belief system, sexual orientation and disability. Our people make us who we are.</p>
                        <p><h5>What We Offer</h5></p>
                        <p>This is an <strong>unremunerated internship</strong>. The hope however is for this to transition into a full time position where equity will be on offer for the right candidate. If this internship ticks the boxes for you, we would love to hear from you.</p>
                        <button type="submit" onClick="window.location='https://angel.co/company/mindhug/jobs/633632-growth-management-intern';">Apply Now</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>

        </div>
    </div>


{% endblock %}
