{% extends 'layout.html' %}

{% block metatags %}
<meta name="description" content="MindHug Disclaimer">
<meta name="keywords" content="MindHug, Mental Health, Mental Wellbeing, Happiness, Art Therapy, Music Therapy, Sound Therapy, Drama Therapy, Mindfullness">
{% endblock %}

{% block title %}Disclaimer - MindHug{% endblock %}

<body>

{% block body %}

{% include 'includes/_navbar.html' %}

<div class="section">
  <div class="container">

        <div class="row">
                <div class="inner-pages">

					<p><strong>For English Language Recipients</strong></p>
					<p><a name="h.gjdgxs" id="h.gjdgxs"></a>This message is intended only for those individual(s) to whom it is addressed and may contain information that is privileged, confidential, proprietary, or otherwise exempt from disclosure under applicable law. If you have received it by mistake, please advise the sender by return email and delete the message from your system without copying or disclosing it.</p>
					<p>Any views or opinions presented in this email are solely those of the sender and do not necessarily represent those of MindHug Ltd. or its affiliates. The sender disclaims any guarantee, express or implied, that this email for transmission is secure, error-free, or free of viruses.<br>
					  &nbsp;<br>
					  MindHug Ltd. and its affiliates at<br>
					  UCL BaseKX, 103c Camley Street, London N1C 4PF<br>
					  <a href="https://www.mindhug.io"> www.mindhug.io</a></p>
					<p>&nbsp;</p>
					<p><strong>Destinatarios de Habla Hispana</strong></p>
					<p>Este mensaje está destinado sólo para aquellos individuos a los cuales está dirigido y puede contener información privilegiada, confidencial, propietaria, amparada por el secreto profesional o comercial y/o bajo protección de divulgación por cualquier otra regulación que resulte aplicable. Si usted ha recibido este correo por error, por favor comuníquelo inmediatamente a su emisor mediante su re-envío y elimínelo de su sistema sin copiarlo o divulgarlo.</p>
					<p>Los pareceres y opiniones presentados en este correo son exclusivamente aquellos de quien lo envía y no necesariamente representan los de MindHug Ltd. o sus afiliadas.</p>
					<p>El emisor no garantiza, ya sea de manera expresa o implícita, que el envío de este correo constituya una transmisión segura, libre de errores o virus.</p>
					<p>MindHug Ltd. y sus afiliadas<br>
					  UCL BaseKX, 103c Camley Street, London N1C 4PF<br>
					<a href="https://www.mindhug.io"> www.mindhug.io</a></p>
					<p>&nbsp;</p>
					<p dir="ltr"><strong>Для україномовних отримувачів</strong></p>
					Це повідомлення призначене виключно для особи (осіб), якій (яким) воно адресовано і може містити конфіденційну інформацію, або іншу інформацію, розголошення якої заборонено законодавством. Якщо ви отримали це повідомлення помилково, будь ласка, повідомте про це відправника шляхом відповіді на це електронне повідомлення та видаліть його з вашого комп’ютера, не залишаючи його копій та не розповсюджуючи його.
					<p dir="ltr"> Будь-які погляди та думки, викладені в цьому повідомленні, належать виключно його відправнику і не обов'язково відображають позицію компанії MindHug Ltd. або її афілійованих підприємств.</p>
					<p dir="ltr"> Відправник цього повідомлення не бере на себе відповідальності та не гарантує, що передача цього повідомлення є захищеною, або що повідомлення не містить помилок чи вірусів.</p>
					MindHug Ltd. та афілійовані підприємства<br>
					 UCL BaseKX, 103c Camley Street, London N1C 4PF<br>
					<a href="https://www.mindhug.io" target="_blank"> www.mindhug.io</a></p>
					<p>&nbsp;</p>

                </div>
        </div>
        
    </div>
</div>
{% endblock %}