{% extends 'layout.html' %}

{% block metatags %}
<meta charset="utf-8" />

<!-- Mobile Metas -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

<meta name="description" content="We help find what works best for your happiness and wellbeing">
<meta name="keywords" content="MindHug, Mental Health, Mental Health Coronavirus, Mental Wellbeing, Happiness, Art Therapy, Music Therapy, Sound Therapy, Drama Therapy, Mindfullness, Therapists Near Me, Losing It With Mental Health, Mental Disorder, Mental Health Emergency">
{% endblock %}

{% block title %}MindHug - Mental Wellbeing and You.{% endblock %}

{% block body %}

{% include 'includes/_navbar.html' %}

  <div class="py-5 text-center h-100 align-items-center d-flex homesec">
    <div class="container py-5">
      <div class="row py-5">
        <div class="mx-auto col-lg-10">
          <h3 class="display-4 mb-4 ">Mental wellbeing and you. Because one size does not fit all.</h3>
          <p class="lead mb-5">We help find what works best for your happiness and wellbeing. We do this by harnessing the familiarity of community and the power of digital.</p> <a href="#footy" class="btn btn-primary call_to-btn mx-1">Get in Touch Below</a> 
        </div>
      </div>
    </div>
  </div>

  <div class="common_style">

    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <picture>
                <source srcset="{{ url_for('static', filename='images/community.webp') }}" type="image/webp" alt="MindHug Community" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/community.png') }}" type="image/png" alt="MindHug Community" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/community.png') }}" type="image/png" alt="MindHug Community" class="img-fluid">
              </picture>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                Explore your community
              </h3>
              <p>
                Find, book and experience a wide choice of beneficial therapies and activities in your community. We offer art therapy, music therapy, mindfulness, sound baths, breathing, pet therapy, drama therapy, yoga and nature walks.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="admission_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="admission_detail-box">
              <h3>
                Engage digitally
              </h3>
              <p>
                Subscribe to a variety of digital content, media, activities and therapies. From experiential art based activities to guided meditation to breathing exercises.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="admission_img-container">
              <picture>
                <source srcset="{{ url_for('static', filename='images/engage.webp') }}" type="image/webp" alt="MindHug Engage" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/engage.png') }}" type="image/png" alt="MindHug Engage" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/engage.png') }}" type="image/png" alt="MindHug Engage" class="img-fluid">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <picture>
                <source srcset="{{ url_for('static', filename='images/events.webp') }}" type="image/webp" alt="MindHug Events" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/events.png') }}" type="image/png" alt="MindHug Events" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/events.png') }}" type="image/png" alt="MindHug Events" class="img-fluid">
              </picture>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                Book workshops and events
              </h3>
              <p>
                Book and attend bespoke workshops and retreats to help rejuvenate yourself. If you would like to talk to us about organising a workshop for your organisation or group.
              </p>
              <div class="">
                <a href="/contact" class="call_to-btn btn_white-border">
                  Book with us
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="determine_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="determine_detail-box">
              <h3>
                Experience free taster sessions
              </h3>
              <p>
                Attend free events to meet your community and try some therapies and activities.
              </p>
              <div class="">
                <a href="https://www.eventbrite.com/o/mindhug-29549779583" class="call_to-btn btn_white-border">
                  Events
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="determine_img-container">
              <picture>
                <source srcset="{{ url_for('static', filename='images/taster-session.webp') }}" type="image/webp" alt="MindHug Session" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/taster-session.png') }}" type="image/png" alt="MindHug Session" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/taster-session.png') }}" type="image/png" alt="MindHug Session" class="img-fluid">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <picture>
                <source srcset="{{ url_for('static', filename='images/analytics.webp') }}" type="image/webp" alt="MindHug Analytics" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/analytics.png') }}" type="image/png" alt="MindHug Analytics" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/analytics.png') }}" type="image/png" alt="MindHug Analytics" class="img-fluid">
              </picture>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                Maintain a mood diary and employ wellbeing analytics
              </h3>
              <p>
                Track lifestyle, sleep, diet, emotional health and your response to activities and therapies through our unique mood diary. Use our analytics to find what works best for you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="determine_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="determine_detail-box">
              <h3>
                Credibility
              </h3>
              <p>
                We take the quality and credibility of our services and offerings very seriously.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="determine_img-container">
              <picture>
                <source srcset="{{ url_for('static', filename='images/credible.webp') }}" type="image/webp" alt="MindHug Credibility" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/credible.png') }}" type="image/png" alt="MindHug Credibility" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/credible.png') }}" type="image/png" alt="MindHug Credibility" class="img-fluid">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <picture>
                <source srcset="{{ url_for('static', filename='images/safety.webp') }}" type="image/webp" alt="MindHug Safety" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/safety.png') }}" type="image/png" alt="MindHug Safety" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/safety.png') }}" type="image/png" alt="MindHug Safety" class="img-fluid">
              </picture>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                Safety
              </h3>
              <p>
                The safety and wellbeing of everyone is our number one priority.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="determine_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="determine_detail-box">
              <h3>
                Privacy
              </h3>
              <p>
                You control your data and decide if, when and with whom you want to share it.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="determine_img-container">
              <picture>
                <source srcset="{{ url_for('static', filename='images/privacy.webp') }}" type="image/webp" alt="MindHug Privacy" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/privacy.png') }}" type="image/png" alt="MindHug Privacy" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/privacy.png') }}" type="image/png" alt="MindHug Privacy" class="img-fluid">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="client_section layout_padding">
    <h2 class="">
      Testimonials
    </h2>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                        <picture>
                          <source srcset="{{ url_for('static', filename='images/becca_staples.webp') }}" type="image/webp" alt="Becca Staples" class="img-fluid">
                          <source srcset="{{ url_for('static', filename='images/becca_staples.jpg') }}" type="image/jpg" alt="Becca Staples" class="img-fluid"> 
                          <img src="{{ url_for('static', filename='images/becca_staples.jpg') }}" type="image/jpg" alt="Becca Staples" class="img-fluid">
                        </picture>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            Becca Staple - MindHug moments Attendee
                          </h5>
                          <p>
                            Having activities to try was a really good way to engage and understand how it can really help.
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                        <picture>
                          <source srcset="{{ url_for('static', filename='images/diana_yin.webp') }}" type="image/webp" alt="Diana Yin" class="img-fluid">
                          <source srcset="{{ url_for('static', filename='images/diana_yin.jpg') }}" type="image/jpg" alt="Diana Yin" class="img-fluid"> 
                          <img src="{{ url_for('static', filename='images/diana_yin.jpg') }}" type="image/jpg" alt="Diana Yin" class="img-fluid">
                        </picture>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            Diana Yin - Innovation Advisor, UCL Innovation and Enterprise
                          </h5>
                          <p>
                            Thanks team!!! I came in tired after a whole day of work (also end of the week), but came out relaxed and happy, almost ready for the week ahead. ;)
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
    </div>
  </section>

  </div>

{% endblock %}
