{% extends 'layout.html' %}

{% block metatags %}
<meta charset="utf-8" />

<!-- Mobile Metas -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

<meta name="description" content="MindHug for Therapists">
{% endblock %}

{% block title %}MindHug's Panel of Therapists{% endblock %}

{% block body %}

{% include 'includes/_navbar.html' %}

  <div class="common_style">
    <section class="about_section">
      <div class="container">
        <div class="row ti">
          <div class="col-md-6">
            <div class="about_img-container ti">
              <picture>
                <source srcset="{{ url_for('static', filename='images/therapist.webp') }}" type="image/webp" alt="MindHug Therapists" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/therapist.png') }}" type="image/png" alt="MindHug Therapists" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/therapist.png') }}" type="image/png" alt="MindHug Therapists" class="img-fluid">
              </picture>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                Therapists
              </h3>
              <p>
                Are you a therapist or an activity provider keen to join us on our journey?
              </p>
              <div class="">
                <a href="/therapists-form/" class="call_to-btn btn_white-border">
                  Contact Us
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}
