/*Index*/

    body {
        font-size: 100%;
        font-family: 'Lato',Arial, sans-serif;
        background:whitesmoke;
        padding-bottom: 0px;
    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .jumbotron .home{
        font-family: 'Hammersmith One', sans-serif;
        padding-top: 10%;
        padding-bottom: 20%;
        padding-left: 5%;
        margin-top: 3%;
        margin-bottom: 0%;
        color:black !important;
        background:linear-gradient(to right,
            rgba(64,224,208,0.75),
            rgba(64,224,208,0.75)

        ),
        url('/static/images/247-min.jpg') !important;
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .jumbotron p{
        font-family: 'Lato';
        font-weight: normal;
    }
    .jumbotron h3{
        font-family: 'Lato';
        font-weight: bolder;
        margin: 0 auto;
    }


    .newsletter {
        padding: 80px 0;
    }

    .newsletter .content {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
    }
    .newsletter .content h2 {
        color: #243c4f;
        margin-bottom: 40px;
    }
    .newsletter .content .form-control {
        height: 50px;
        border-color: #ffffff;
        border-radius:0;
    }
    .newsletter .content.form-control:focus {
        box-shadow: none;
        border: 2px solid #243c4f;
    }
    .newsletter .content .btn {
        min-height: 50px;
        border-radius:0;
        border: none;
        font-family: 'Hammersmith One','sans-serif';
        font-weight: lighter;
        background: rgb(4, 70, 190);
        color: #fff;
        font-weight:600;
    }

    #b1 {
        font-family: 'Lato','sans-serif';
        font-weight: bolder;
        height: 50px;
        margin-left: 44% ;
        background-color: rgb(7, 81, 124);
        border: none;
        border-radius: 5px;
        color: white;
        /* padding: 15px 32px; */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    #intro{
        margin-top: 0%;
        padding-top: 5%;
        border-radius: 15px;
        padding-bottom: 10%;
        display: block;
        height:300px;
        font-family: 'Lato', sans-serif;

        color:black !important;
        text-align:center;
        background:rgb(64,224,208);
    }

    #intro h3{
        font-style: italic;
    }
    #intro p{
        font-size: 16px;
    }
    #b2 {
        font-family: 'Lato','sans-serif';
        font-weight: bolder;
        height: 50px;
        background-color:rgb(64,224,208);
        border-radius: 5px;
        border-color: white;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #b2:hover{
        color:#4b92dc
    }
    #feat{
        font-weight: bold;
        text-align:center;
    }

    #f1{
        margin-top: 0%;
        padding-top: 10%;
        padding-left: 3%;
        /*height:50vh;*/
        color:rgb(0, 0, 0) !important;
        text-align:left;
        background:whitesmoke;
    }

    #f1 p{
        font-size: 16px;
    }
    #f1 h3{
        font-weight: bold;
    }
    #f2{
        margin-top: 0%;
        padding-top: 5%;
        padding-left: 3%;
        /*height:50vh;*/
        color:rgb(0, 0, 0) !important;
        text-align:left;
        background:whitesmoke;
    }
    #f2 img{
        padding-top: 0%;
    }
    #f2 p{
        font-size: 16px;
    }
    #f2 h3{
        font-weight: bold;
    }
    #f3{
        margin-top: 0%;
        padding-top: 5%;
        padding-left: 3%;
        /*height:50vh;*/
        color:rgb(0, 0, 0) !important;
        text-align:left;
        background:whitesmoke;
    }
    #f3 p{
        font-size: 16px;
    }
    #f3 h3{
        font-weight: bold;
    }
    #f4{
        margin-top: 0%;
        padding-top: 5%;
        padding-left: 3%;
        /*height:50vh;*/
        color:rgb(0, 0, 0) !important;
        text-align:left;
        background:whitesmoke;
    }
    #f4 p{
        font-size: 16px;
    }
    #f4 h3{
        font-weight: bold;
    }
    #f4 img{
        padding-top: 0%;
    }
    #f5{
        margin-top: 0%;
        padding-top: 5%;
        padding-left: 3%;
        margin-bottom: 10%;
        /*height:50vh;*/
        color:rgb(0, 0, 0) !important;
        text-align:left;
        background:whitesmoke;
    }
    #f5 p{
        font-size: 16px;
    }
    #f5 h3{
        font-weight: bold;
    }
    #f5 img{
        padding-top: 0%;
    }

    #pro1 img {
        width: auto;
        max-height: 270px;
        margin: auto;
        display: block;
        padding: 8%;
    }
    #pro2 img {
        width: auto;
        max-height: 300px;
        margin: auto;
        display: block;
    }
    #pro3 img {
        width: auto;
        max-height: 250px;
        margin: auto;
        display: block;
    }
    #feat1,#feat2,#feat3{
        margin-top: 0%;
        padding-top: 5%;
        padding-left: 3%;
        /*height:30vh;*/
        color:rgb(0, 0, 0) !important;
        font-family: 'Lato','sans-serif';
        text-align:left;
        background:whitesmoke;
    }

    #t1 p{
        font-size: 16px;
    }
    #t1 h3{
        font-weight: bold;
    }

    #intro2{
        margin-top: 0%;
        padding-top: 5%;
        border-radius: 15px;
        padding-bottom: 10%;
        display: block;
        height:400px;
        font-family: 'Lato', sans-serif;

        color:black !important;
        text-align:center;
        background: whitesmoke;
        margin-bottom: 50px;
    }

    #intro2 h3{
        font-style: italic;
    }
    #intro2 p{
        font-size: 16px;
    }
    #b3 {
        font-family: 'Lato','sans-serif';
        font-weight: bolder;
        height: 50px;
        background-color:whitesmoke;
        border-radius: 5px;
        border-color: rgb(64,224,208);
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #b2:hover{
        color:#4b92dc
    }
    #r_tag{
        font-size: 35px;
    }


    /*iPads*/
    @media screen and (max-width: 1024px) and (min-width: 601px) {
        .jumbotron{
            text-align: center;
            margin-bottom: 10%;
        }
        #b1{
            margin-left: 0% ;
        }
        #f1{
            margin-bottom: 5%;
        }
        #f2{
            margin-bottom: 5%;
        }
        #f3{
            margin-bottom: 5%;
        }
        #f4{
            margin-bottom: 5%;
        }
        #f5{
            margin-bottom: 15%;
        }
        #intro{
            border-radius: 15px;
            height:300px;
            margin-bottom: 0%;
        }
        #feat1{
            margin-bottom: 5%;
        }
        #feat2{
            margin-bottom: 5%;
        }
        #feat3{
            margin-bottom: 5%;
        }
        #r_tag{
            font-size: 35px;
        }
    }
    /*Phones*/
    @media screen and (max-width: 600px) {
        .newsletter .content {
            max-width: 350px;
        }
        .jumbotron{
            text-align: center;
            margin-bottom: 10%;
            /*padding-right: 0px;*/
            padding-left: 30px;
            padding-top: 100px;

        }
        #b1{
            margin-left: 0% ;
        }
        #f1{
            margin-bottom: 20%;
            /*padding-bottom: 80%;*/
        }
        #f2{
            margin-bottom: 20%;
        }
        #f3{
            margin-bottom: 20%;
        }
        #f4{
            margin-bottom: 20%;
        }
        #f5{
            margin-bottom: 22%;
        }
        #intro{
            border-radius: 0%;
            height:350px;
            margin-bottom: 10%;
        }
        #feat1{
            margin-bottom: 20%;
        }
        #feat2{
            margin-bottom: 20%;
        }
        #feat3{
            margin-bottom: 22%;
        }
        #intro2{
            border-radius: 0%;
            margin-bottom: 30%;
        }
        #r_tag{
            font-size: 25px;
        }

    }
    #myForm1 {
        margin-top: 0px;
    }
    .chkbox label {
        position: relative;
        top: -2px;
    }


/*Partnership*/
/*    body {
        font-size: 100%;
        font-family: 'Lato',Arial, sans-serif;
        background:whitesmoke;
    }*/
    .jumbotron .partnership{
        font-family: 'Hammersmith One', sans-serif;
        padding-top: 20%;
        padding-bottom: 20%;
        padding-left: 5%;
        margin-top: 0%;
        margin-bottom: 0%;
        color:black !important;

        background:
            linear-gradient(to right,
                rgba(245,245,245,0.75),
                rgba(64,224,208,0.75)
            ),
            url('/static/images/3155587-min.jpg') !important;
        background-size: 100vw auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /*background-position: center;*/
    }
    .jumbotron p{
        font-family: 'Lato';
        font-weight: normal;
    }
    #part_intro{
        margin-top: 0px;
        text-align: center;
        margin-bottom: 0px;
    }
    #part_intro h2{
        font-weight: bold;
    }
    #f2{
        margin-top: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        height:50vh;
        color:rgb(0, 0, 0) !important;
        text-align:left;
        background:whitesmoke;
    }
    #f2 {
        margin-top: 20px;
        height: auto;
        max-width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #f2 p{
        font-size: 16px;
    }
    #f2 h3{
        font-weight: bold;
    }
    #p1_t{
        padding-top: 10%;
    }
    #intro{
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 5%;
        border-radius: 10px;
        padding-bottom: 10%;
        display: block;
        height:350px;
        font-family: 'Lato', sans-serif;

        color:black !important;
        text-align:center;
        background:rgb(64,224,208);
    }

    #intro h3{
        font-weight: bold;
    }
    #intro p{
        font-size: 16px;
    }
    #b2 {
        font-family: 'Lato','sans-serif';
        font-weight: bolder;
        height: 50px;
        background-color:rgb(64,224,208);

        border-radius: 5px;
        border-color: white;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #b2:hover{
        color:#4b92dc
    }

    @media screen and (max-width: 1023px) and (min-width: 601px) {
        .jumbotron{
            text-align: center;
            margin-bottom: 10%;
        }
        #intro {
            border-radius: 10px;
            height: auto;
            margin-bottom: 10%;
        }
        #f2{
            margin-bottom: 10%;
        }
    }
    @media screen and (max-width: 600px) {
        .newsletter .content {
            max-width: 350px;
        }
        .jumbotron{
            text-align: center;
            margin-bottom: 10%;
            padding-left: 0px;
            padding-top: 120px;
            background-position: center 40px;

        }
        #f2{
            margin-bottom: 20%;
        }
        #intro{
            border-radius: 0%;
            height:auto;
            margin-bottom: 30%;
        }
    }

/*Therapists*/
    .jumbotron .therapists{
        /* height:50vh; */
        font-family: 'Hammersmith One', sans-serif;
        padding-top: 20%;
        padding-bottom: 20%;
        padding-left: 5%;
        margin-top: 0%;
        margin-bottom: 0%;
        color: black !important;

        background: linear-gradient(to right,
        rgba(245, 245, 245, 0.75),
        rgba(64, 224, 208, 0.75)
        ),
        url('/static/images/2685.jpg') !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .jumbotron p{
        font-family: 'Lato';
        font-weight: normal;
    }
    #part_intro h2{
        font-weight: bold;
    }
    #f2 p{
        font-size: 16px;
    }
    #f2 h3{
        font-weight: bold;
    }
    #intro{
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 5%;
        border-radius: 10px;
        padding-bottom: 10%;
        display: block;
        height:250px;
        font-family: 'Lato', sans-serif;

        color:black !important;
        text-align:center;
        background:rgb(64,224,208);
    }

    #intro h3{
        font-weight: bold;
    }
    #intro p{
        font-size: 16px;
    }
    #b2 {
        font-family: 'Lato','sans-serif';
        font-weight: bolder;
        height: 50px;
        background-color:rgb(64,224,208);

        border-radius: 5px;
        border-color: white;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #b2:hover{
        color:#4b92dc
    }

    @media screen and (max-width: 1023px) and (min-width: 601px) {
        .jumbotron{
            text-align: center;
            margin-bottom: 10%;
        }
        #intro{
            border-radius: 10px;
            height:auto;
            margin-bottom: 10%;
        }
    }
    @media screen and (max-width: 600px) {
        .newsletter .content {
            max-width: 350px;
        }
        .jumbotron{
            text-align: center;
            margin-bottom: 10%;
            padding-left: 0px;
            padding-top: 100px;
        }
        #intro{
            border-radius: 0%;
            height:auto;
            margin-bottom: 10%;
        }
    }


/*Career*/
    .jumbotron .career {
        font-family: 'Hammersmith One', sans-serif;
        padding-top: 20%;
        padding-bottom: 20%;
        padding-left: 5%;
        margin-top: 0%;
        margin-bottom: 0%;
        color:black !important;

        background:
            linear-gradient(to right,
                rgba(245,245,245,0.75),
                rgba(64,224,208,0.75)
            ),
            url('/static/images/2730921-min.jpg');
        background-size: 100vw auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /*background-position: center;*/
    }
    .jumbotron p{
        font-family: 'Lato';
        font-weight: normal;
    }
    #mission{

        margin-top: 0%;
        padding-top: 5%;
        margin-bottom: 0px;
        padding-bottom: 10%;
        display: block;
        /*height:30vh;*/
        font-family: 'Lato', sans-serif;

        color:black !important;
        text-align:center;
        background:whitesmoke;

    }

    #mission h3{
        font-style: italic;
    }
    #mission p{
        font-size: 16px;
    }
    #team_intro{
        margin-top: 0px;
        text-align: center;
        margin-bottom: 30px;
    }
    #team_intro h2{
        font-weight: bold;
    }
    #team{
        padding-top: 10px;
    }

    #raj{
        font-family: 'Lato', sans-serif;
        text-align: center;
    }
    #raj p{
        font-size: 16px;
        font-weight: bolder;
    }
    #raj h3{
        font-weight: bold;
        font-size: 24px;
    }
    #raj img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: auto;
        display: block;
    }
    #thad{
        font-family: 'Lato', sans-serif;
        text-align: center;
    }
    #thad p{
        font-size: 16px;
        font-weight: bolder;
    }
    #thad h3{
        font-size: 24px;
    }
    #thad img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: auto;
        display: block;
    }
    #mark{
        font-family: 'Lato', sans-serif;
        text-align: center;
    }
    #mark p{
        font-size: 16px;
        font-weight: bolder;
    }
    #mark h3{
        font-size: 24px;
    }
    #mark img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: auto;
        display: block;
    }
    #join{
        margin-top: 10%;
        margin-bottom: 5px;
        padding-top: 3%;
        border-radius: 15px;
        padding-bottom: 10%;
        display: block;
        /*height:40vh;*/
        font-family: 'Lato', sans-serif;

        color:black !important;
        text-align:center;
        background:rgb(64,224,208);

    }

    #join h3{
        font-weight: bold;
    }
    #join p{
        font-size: 16px;
    }

    @media screen and (max-width: 1023px) and (min-width: 601px) {
        #join{
            height: 300px;
        }
        #raj img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: auto;
            display: block;
        }
        #thad img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: auto;
            display: block;
        }
        #mark img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: auto;
            display: block;
        }
    }
    @media screen and (max-width: 600px) {
        .jumbotron {
            text-align: center;
            margin-bottom: 10%;
            padding-left: 0px;
            padding-top: 120px;
            background-position: center 30px;
        }

        #join {
            height: 300px;
            border-radius: 0%;
        }
    }
</style>