
      <section class="info_section layout_padding-top">
        <div class="info_logo-box">
          <h2>
              MindHug<sup><font size="3">&reg;</font></sup>
          </h2>
        </div>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <h5>
                    Location
                </h5>
               <p>
                  MindHug, UCL BaseKX, 103c Camley Street, London N1C 4PF
               </p>
               <p><a href="mailto:hello@mindhug.io" title="MindHug Email">hello@mindhug.io</a></p>
               <p>Company Registration Number: 12293600</p>
              </div>
              <div class="col-md-3">
                <h5>
                    Quick Links
                </h5>
                <ul>
                  <li>
                    <a href="/partnerships">
                        Partnerships
                    </a>
                  </li>
                  <li>
                   <a href="/therapists">
                      Therapists
                   </a>
                  </li>
                  <li>
                    <a href="https://medium.com/mymindhug">
                        Blog/Research
                    </a>
                  </li>
                  <li>
                    <a href="https://www.eventbrite.com/o/mindhug-29549779583">
                        Event/Tickets
                    </a>
                  </li>
                  <li>
                    <a href="/contact-us">
                        Contact Us
                    </a>
                  </li>
                  <li>
                    <a href="https://www.prevent-suicide.org.uk/find-help-now/">
                        Crisis Contacts
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h5>
                    Careers
                </h5>
                <p>
                    Are you passionate about working with an exciting startup, looking to change how mental wellbeing is perceived and approached?
                </p>
                  <div class="form_container">
                      <button type="submit">
                        Get in touch
                      </button>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="subscribe_container">
                  <h5>
                      Newsletter
                  </h5>
                  <div class="form_container">
                    <form action="">
                      <input type="email" placeholder="Enter your email">
                      <button type="submit">
                        Subscribe
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
              <div class="social_container">
                  <div class="social-box">
                    <a href="">
                      <img src="{{ url_for('static', filename='images/fb.png') }}" alt="Facebook">
                    </a>
                    <a href="">
                      <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter">
                    </a>
                    <a href="">
                      <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn">
                    </a>
                    <a href="">
                      <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram">
                    </a>
                  </div>
                </div>
          </div>
        </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2020 MindHug, Ltd. All Rights Reserved.
    </p>
  </section>
  <!-- footer section -->
