
<footer id="footer" class="footer-1" >
    <div class="main-footer widgets-dark typo-light" id="connect">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">MindHug<sup><font size="3">&reg;</font></sup><span></span></h5>
                        <p>MindHug, UCL BaseKX, 103c Camley Street, London N1C 4PF</p>
                        <p><a href="mailto:hello@mindhug.io" title="glorythemes">hello@mindhug.io</a></p>
                        <p>Company Registration Number 12293600</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="/partnerships">Partnerships</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/therapists">Therapists</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="https://medium.com/mymindhug" target="_blank">Blog/Research</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="https://www.eventbrite.com/o/mindhug-29549779583">Event/Tickets</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/contact-us">Contact Us</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="https://www.prevent-suicide.org.uk/find-help-now/" target="_blank">Crisis Contacts</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Careers<span></span></h5>
                        <p>Are you passionate about working with an exciting startup, looking to change how mental wellbeing is perceived and approached?</p>
                        <a class="btn" href="/careers" >Get in touch</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Social Media<span></span></h5>
                        <ul class="social-footer2">
                            <li class=""><a title="LinkedIn" target="_blank" href="https://www.linkedin.com/company/mindhug" id="you"><img alt="linkedin" width="30" height="30" src="{{ url_for('static', filename='images/in.jpg') }}"></a></li>
                            <li class=""><a href="https://www.facebook.com/mymindhug/" target="_blank" title="Facebook" id="you"><img alt="Facebook" width="30" height="30" src="{{ url_for('static', filename='images/fac.jpg') }}"></a></li>
                            <li class=""><a href="https://twitter.com/mymindhug?s=08" target="_blank" title="Twitter" id="you"><img alt="Twitter" width="30" height="30" src="{{ url_for('static', filename='images/twi.jpg') }}"></a></li>
                            <li class=""><a title="Instagram" target="_blank" href="https://instagram.com/mymindhug?igshid=5vhb6th1p1p8" id="you"><img alt="instagram" width="30" height="30" src="{{ url_for('static', filename='images/ins.jpg') }}"></a></li>
                            <li class=""><a title="Medium" target="_blank" href="https://medium.com/mymindhug" id="you"><img alt="medium" width="30" height="30" src="{{ url_for('static', filename='images/medium1.jpg') }}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p style="font-size: 13px">&copy; 2020 MindHug&reg;. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
