
    <!-- header section starts -->
    <header class="header_section subpages">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              MindHug<sup><font size="3">&reg;</font></sup>
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center" style="background-color: #029D74;">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/partnerships"> Partnerships </a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link" href="/therapists"> Therapists </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="https://medium.com/mymindhug"> Blog/Research </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="https://www.eventbrite.com/o/mindhug-29549779583"> Events </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="https://mindhug.io/#connect"> Connect </a>
                </li>

              </ul>
            </div>
        </nav>
      </div>
    </header>
