html {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  overflow-x: hidden;
  outline: none !important;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background-color: #fefeff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
}

sup {
  font-size: 1rem;
  top: -.6em;
}

/* video start */

.vidtext {
  margin-top: 60px;
}

.vidheader {
  margin-top:80px;
  max-width:100%;
  height:453px;
}

.overlay-video {
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -ms-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 999999;
}

.o1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -ms-transition: opacity 600ms ease-out;
  transition: opacity 600ms ease-out;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.videoWrapperExt {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 982px;
  padding: 0 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close {
  /* background-image:url(); */
  position: absolute;
  top: -50px;
  right: 0px;
  cursor: pointer;
  z-index: 9999;
  height: 40px;
  width: 40px;
  background-size: 40px;
  @media (max-width: 767px) and (orientation: landscape) {
    display: none;
  }
}

.mindhugvid {
  text-align: center;
  color: #304351;
  cursor: pointer;
}

.mindhugvid p {
  font-size: 1em;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
}

.favid {
  font-size: 80px !important;
  color: #304351;
}

.favid:hover {
  transform: scale(0.9);
  transition: transform .2s;
}

.headersub {
  position: relative;
  display: block;
  height: 70px;
  border-radius: 35px;
  background: white;
  margin: 0 auto;
  margin-top: -60px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.28);
  overflow: hidden;
}

.headersub input {
  line-height: 70px;
  padding: 0;
  border: none;
  outline: none !important;
  font-size: 1rem;
  font-weight: 300;
  background: #ffffff;
  letter-spacing: 0.02em;
}

.headersub input:not([type="submit"]) {
  width: 100%;
  display: block;
  padding: 0 150px 0 30px;
}

.headersub input:not([type="email"]) {
  position: absolute;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  top: 10px;
  right: 10px;
  border-radius: 25px;
  padding: 0 25px;
  background: #34bbae;
  color: white;
  cursor: pointer;
  outline: none !important;
}

.headersub input:not([type="email"]):hover {
  background: #3cd6c7;
  outline: none !important;
}

.headersub input:focus {
  outline: none !important;
  background: #ffffff;
}

/* video end */

/* button start */
.call_to-btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 3px;
  border: none !important;
  font-size: 15px;
  background-color: #34bbae;
  color: #ffffff;
  font-weight: 700;
  outline: none;
}

.call_to-btn:hover,
.call_to-btn:focus {
  background-color: #3cd6c7;
  color: #ffffff;
  outline: none;
}
/* button end */

/* home start */
.homesec {
  background-image:url('../images/hero.jpg');
  background-position: center center, center center;
  background-size: cover, cover;
  background-repeat: repeat, repeat;
}

.homesec h3 {
  margin-top: 80px;
  font-size: 50px;
  color: #304351;
  font-weight: 600;
}

.homesec p {
  color: #304351;
  font-weight: 300;
}
/* home end */

/* navbar start */
#dropdown01:before {
    font-family: 'FontAwesome';
    content: "\f107";
    float: right;
    padding: 0px 0px 0px 6px;
    transition: all 0.5s;
}

nav.navbar.navbar-expand-lg {
  padding: 10px 0;
  background-color: #ffffff !important;
  outline: none !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.navbar-brand {
  margin: 0 20px;
  height: auto;
  width: 200px;
}

.phone {
  font-size: 1rem !important;
  padding-right: 10px;
  color: #304351;
}

.text-phone {
    color: #304351;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 0.9375rem;
  color: #304351;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:active {
  color: #8f8c8c !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
 color: #34bbae !important;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-collapse {
  margin: 20px 20px;
}
/* navbar end */

/* start subscribe */
.mb-5, .my-5 {
  margin-bottom: 0px !important;
}

.subscribe-area {
    max-width: 600px;
    margin: 0px auto 70px;
    display: block;
    padding: 0 15px;
    text-align: center;
}

.subscribe-area input {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.subscribe-area textarea {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 15px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.subscribe-area input:focus {
  outline: none !important;
}

.subscribe-area textarea:focus {
  outline: none !important;
}

.subscribe-area button {
    background-color: #34bbae;
    border: none;
    outline: none;
    position: relative;
    color: #ffffff;
    padding: 12px 40px;
    margin-top: 80px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
}

.subscribe-area button:hover {
    background-color: #3cd6c7;
    color: #ffffff;
}

.validation-text {
    position: relative;
    top: 4px;
    right: 190px;
}

.validation-text a {
    color: #34bbae;
}

.validation-text a:hover {
    color: #34bbae;
    opacity: 0.8;
}

.subscribe_validation {
  position: absolute;
  padding-left: 60px;
  padding-top: 0px;
  margin: 20px 0px 20px 40px;
  cursor: pointer;
  font-size: .8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subscribe_validation a {
  color: #34bbae;
}

.subscribe_validation a:hover {
  color: #34bbae;
  opacity: 0.8;
}


.subscribe_validation span{
  line-height: 1rem;
  right: 20px;
}

.subscribe_validation input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.subscribe_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}

.subscribe_validation:hover input ~ .subscribe_checkmark {
  background-color: #f9f9f9;
}

.subscribe_validation input:checked ~ .subscribe_checkmark {
  background-color: #34bbae;
  border: none;
}

.subscribe_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.subscribe_validation input:checked ~ .subscribe_checkmark:after {
  display: block;
}

.subscribe_validation .subscribe_checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.subscribe-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}

.subscribe_validation:hover input ~ .subscribe-checkmark {
  background-color: #f9f9f9;
}

.subscribe_validation input:checked ~ .subscribe-checkmark {
  background-color: #34bbae;
  border: none;
}

.subscribe-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.subscribe_validation input:checked ~ .subscribe-checkmark:after {
  display: block;
}

.subscribe_validation .subscribe-checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* end subscribe */


/* career start*/
.mhjobs{
  max-width: 960px;
  margin: 0 auto 70px;
  display: block;
  padding: 0 15px;
}

@media(max-width:992px){
 .mhjobs{
    max-width: 960px;
    margin: 0 auto 70px;
    display: block;
    padding: 0 15px;
  }
}

.panel-heading {
  padding: 0;
  margin: 10px auto;
  border: 1px solid #f7f7f7;
  border-radius: 3px;
}

.panel-title>a, .panel-title>a:active{
  display: block;
  padding: 20px 0px 10px 20px;
  color: #555;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}

.panel-heading  a:before {
   font-family: 'FontAwesome';
   content: "\f107";
   float: right;
   padding: 0 20px;
   transition: all 0.5s;
}

.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-body {
  padding: 10px 20px;
  margin-top: -10px;
  border: 1px solid #f7f7f7;
}

.panel-body h5 {
  font-weight: 600;
}

.panel-body p {
  margin-bottom: 30px;
  line-height: 2rem;
}

.panel-body li {
  margin-bottom: 10px;
}

.mhjobs button {
  background-color: #34bbae;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 8px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 3px;
}

.mhjobs button:hover {
  background-color: #247971;
  color: #ffffff;
}
/* career end*/

/* common style for some sections */
.common_style>section {
  padding: 50px 0;
}

.common_style .row {
  align-items: center;
}

.common_style h3 {
  font-weight: 600;
  color: #1e2b38;
}

.common_style p {
  color: #4e4f50;
  margin: 30px 0 50px 0;
}

.common_style img {
  width: 100%;
}

.client_img-box img {
  width: 80%;
  border: 3px solid #34bbae;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* end common style */

/* about section */
.about_section {
  text-align: right;
}

.about_section a {
  background-color: #34bbae;
  color: #ffffff;
}

.ti {
  margin: 70px 0 0 0;
}

.ti img {
/*  height: auto;
  max-width: 80%;*/
}

.title-area {
    max-width: 960px;
    margin: 200px auto 50px;
    display: block;
    padding: 0 15px;
    text-align: center;
    line-height: 2rem;
}

.card .description {
    font-size: 13px;
}

.description h3 {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 20px;
}

.card .title {
    margin-bottom: 5px;
    color: #333333;
    text-align: center;
    font-size: 1.4rem;
}

.small-text {
    color: #777777;
    text-align: center;
}

.description .fa {
  margin: 0 auto;
  margin-bottom: 80px;
  color: #777777;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
}

.description .fa:hover {
  color: #0e76a8;
}

.bottom-area {
    max-width: 760px;
    margin: 70px auto 70px;
    display: block;
    padding: 0 15px;
    text-align: center;
}

.bottom-area h3 {
    font-size: 2.6rem;
}

.bottom-area p {
    font-size: 1.2rem;
    color: #777777;
}

.bottom-area button {
    background-color: #3cd6c7;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 12px 40px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
}

.bottom-area button:hover {
  background-color: #34bbae;
  color: #ffffff;
}

.avatar {
    border: 3px solid #34bbae;
    border-radius: 50%;
    overflow: hidden;
    max-width: 180px;
    margin: 0 auto;
}

.avatar-danger {
    border-color: #34bbae;
}
/* end about section */

/* testimonial start */
.client_section h2,
.client_section h5,
.client_section p {
  font-weight: normal;
}

.client_section h2 {
  text-align: center;
  font-weight: 600;
}

.client_section h5 {
  font-size: 24px;
  color: #304351;
  font-weight: 600;
}

.client_section .row {
  align-items: center;
  padding: 75px 0;
  margin: 0 15px;
}

.client_section img {
  width: 100%;
}

.client_section .carousel-indicators {
  margin: 0;
  justify-content: flex-end;
  padding-right: 15px;
  bottom: 20px;
}

.client_section .carousel-indicators li {
  width: 25px;
  height: 25px;
  background-color: #f7f7f7;
  border-radius: 100%;
  opacity: 1;
}

.client_section .carousel-indicators li.active {
  background-color: #40E0D0;
}
/* testimonial end */

/* contact section */
.mcp-title-area {
    max-width: 760px;
    margin: 200px auto 70px;
    display: block;
    padding: 0 15px;
    text-align: center;
    line-height: 2rem;
}

.mcp-area {
    max-width: 760px;
    margin: 0px auto 70px;
    display: block;
    padding: 0 15px;
    text-align: center;
}

.mcp-area input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.mcp-area textarea {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 15px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.mcp-area input:focus {
  outline: none !important;
}

.mcp-area textarea:focus {
  outline: none !important;
}

.mcp-area button {
    background-color: #34bbae;
    border: none;
    outline: none;
    position: relative;
    color: #ffffff;
    padding: 12px 40px;
    margin-top: 80px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
}

.mcp-area button:hover {
    background-color: #3cd6c7;
    color: #ffffff;
}

.validation-text {
    position: relative;
    top: 4px;
    right: 190px;
}

.validation-text a {
    color: #34bbae;
}

.validation-text a:hover {
    color: #34bbae;
    opacity: 0.8;
}

.contact_section {
  padding: 75px 45px;
  font-family: 'Nunito', sans-serif;
}

.contact_section .row {
  align-items: center;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 90%;
  margin: 15px 0;
}

.contact_form-container button {
  border: none;
  background-color: #6bd1bd;
  color: #fff;
  font-size: 15px;
  padding: 15px 45px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact_img-box {

  display: flex;
  align-items: center;

}

.contact_img-box img {
  width: 100%;
}

.contact_section h2 {
  font-size: 26px;
  color: #454545;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 35px;
}
/* end contact section */

/* Checkbox */
.mindhug_validation {
  display: block;
  position: absolute;
  padding-left: 55px;
  margin-top: 15px;
  margin-bottom: 40px;
  cursor: pointer;
  font-size: .8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mindhug_validation span{
  line-height: 1rem;
  right: 20px;
}

.mindhug_validation input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mindhug_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}

.mindhug_validation:hover input ~ .mindhug_checkmark {
  background-color: #f9f9f9;
}

.mindhug_validation input:checked ~ .mindhug_checkmark {
  background-color: #34bbae;
  border: none;
}

.mindhug_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.mindhug_validation input:checked ~ .mindhug_checkmark:after {
  display: block;
}

.mindhug_validation .mindhug_checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mindhug-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}

.mindhug_validation:hover input ~ .mindhug-checkmark {
  background-color: #f9f9f9;
}

.mindhug_validation input:checked ~ .mindhug-checkmark {
  background-color: #34bbae;
  border: none;
}

.mindhug-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.mindhug_validation input:checked ~ .mindhug-checkmark:after {
  display: block;
}

.mindhug_validation .mindhug-checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social_container {
  width: 90%;
  margin: 0 auto;
  /*border-top: 1px solid #1b1b1b;*/
  padding: 25px 0;
}

.info_section .social-box {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.info_section .social-box .fa {
  padding-left: .8rem!important;
  color: #222525;
  opacity: 0.7;
}

.info_section .social-box .fa:hover {
  opacity: 0.9;
}

.inner-pages {
    margin: 200px auto 50px;
    max-width: 960px;
    display: block;
    padding: 0 15px;
}

.inner-pages p {
    margin: 30px auto;
    line-height: 1.8rem;
}

.inner-pages a {
    color: #34bbae;
}

.inner-pages a:hover {
    color: #34bbae;
    opacity: 0.8;
}

/* end info section */

/* footer start */
.col_white_amrc { color:#222525;}
footer { width:100%; background-color:#f7f7f7; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px; font-weight:700; }
footer p { font-size:1rem; color:#222525; padding-bottom:0px; margin-bottom:20px; }
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:1rem; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#222525;}
.footer_ul_amrc li a:hover{ opacity:0.8; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { padding-bottom:20px; margin-top: 60px;}
.foote_bottom_ul_amrc {
  list-style-type:none;
  padding:0px;
  display:table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.email-icon { color:#34bbae; }
.footer-email { color:#34bbae; text-decoration:none; background-color:transparent; margin-left:5px; }
.footer-email:hover { color:#34bbae; opacity:0.8; }

.footer-copy { text-align: center; margin: 60px auto; }

.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.wpcc-btn { border-radius: 5px; outline: none !important; }
.wpcc-container { box-shadow: 0 0 10px rgba(0,0,0,.4); }
/* footer end */
