{% extends 'layout.html' %}

{% block title %}MindHug{% endblock %}

{% block style %}

<style>
    body {
        font-size: 100%;
        font-family: 'Lato',Arial, sans-serif;
        background:whitesmoke;
    }

    .jumbotron {
        /* height:50vh; */
        font-family: 'Hammersmith One', sans-serif;
        padding-top: 20%;
        padding-bottom: 20%;
        padding-left: 5%;
        margin-top: 0%;
        margin-bottom: 0%;
        color:black !important;

        background:
            linear-gradient(to right,
                rgba(245,245,245,0.75),
                rgba(64,224,208,0.75)
            ),
            url('/static/images/2730921-min.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;

    }
    .jumbotron p{
        font-family: 'Lato';
        font-weight: normal;
    }
    #mission{

        margin-top: 0%;
        padding-top: 5%;
        margin-bottom: 0px;
        padding-bottom: 10%;
        display: block;
        height:30vh;
        font-family: 'Lato', sans-serif;

        color:black !important;
        text-align:center;
        background:whitesmoke;

    }

    #mission h3{
        font-style: italic;
    }
    #mission p{
        font-size: 16px;
    }
    #team_intro{
        margin-top: 0px;
        text-align: center;
        margin-bottom: 30px;
    }
    #team_intro h2{
        font-weight: bold;
    }
    #team{
        padding-top: 10px;
    }

    #raj{
        font-family: 'Lato', sans-serif;
        text-align: center;
    }
    #raj p{
        font-size: 16px;
        font-weight: bolder;
    }
    #raj h3{
        font-weight: bold;
        font-size: 24px;
    }
    #raj img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: auto;
        display: block;
    }
    #thad{
        font-family: 'Lato', sans-serif;
        text-align: center;
    }
    #thad p{
        font-size: 16px;
        font-weight: bolder;
    }
    #thad h3{
        font-size: 24px;
    }
    #thad img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: auto;
        display: block;
    }
    #mark{
        font-family: 'Lato', sans-serif;
        text-align: center;
    }
    #mark p{
        font-size: 16px;
        font-weight: bolder;
    }
    #mark h3{
        font-size: 24px;
    }
    #mark img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: auto;
        display: block;
    }
    #join{

        margin-top: 10%;
        margin-bottom: 5px;
        padding-top: 3%;
        border-radius: 15px;
        padding-bottom: 10%;
        display: block;
        height:40vh;
        font-family: 'Lato', sans-serif;

        color:black !important;
        text-align:center;
        background:rgb(64,224,208);

    }

    #join h3{
        font-weight: bold;
    }
    #join p{
        font-size: 16px;
    }

    @media screen and (max-width: 767px) and (min-width: 601px) {
        #join{
            height: 300px;
        }
    }
    @media screen and (max-width: 600px) {
        .jumbotron {
            text-align: center;
        }

        #join {
            height: 300px;
        }
    }
</style>

{% endblock %}

{% block body %}

<div class="jumbotron" id="page_home">
    <h1>Careers at MindHug</h1>
</div>
<div class="container-fluid" id="mission">
    <h3>At MindHug, we are revolutionising the way people think about mental wellbeing.</h3>
</div>
<div class="container" id="team_intro">
    <h2>Meet the team</h2>
</div>
<div class="container" id="team">
    <div class="row">
        <div class="col-sm-4" id="raj">
            <div><img src="{{ url_for('static', filename='images/raj2.jpeg') }}"></div>
            <div><h3>Chitraj Singh</h3></div>
            <div><p>CEO and Co-Founder</p></div>
        </div>
        <div class="col-sm-4" id="thad">
            <div><img src="{{ url_for('static', filename='images/thad1.jpg') }}"></div>
            <div><h3><b>Dr. Thaddeus Cheung</b> </h3></div>
            <h3>MBChB, MRCPsych</h3>
            <div><p>Chief Medical Officer and Co-Founder</p></div>
        </div>
        <div class="col-sm-4" id="mark">
            <div><img src="{{ url_for('static', filename='images/mark.jpg') }}"></div>
            <div><h3><b>Mark Claydon</b> </h3></div>
            <!--            <h3>MBChB, MRCPsych</h3>-->
            <div><p>CTO and Co-Founder</p></div>
        </div>
    </div>
    <div class="container" id="join" style="height: 200px;">
        <h3>Join the team</h3>
        <br>
        <br>
        <p> if you are interested in working for MindHug drop us a line with your CV at <b><a href="mailto:hello@mindhug.io" title="glorythemes">hello@mindhug.io</a></b> </p>
        <br>
        <br>
    </div>
</div>
<br><br>

{% endblock %}
