{% extends 'layout.html' %}

{% block metatags %}
<meta name="description" content="Contact us">
{% endblock %}

{% block title %}MindHug - Contact Us{% endblock %}

<body class="sub_page">

{% block body %}

{% include 'includes/_navsub.html' %}

<iframe name="votar" style="display:none;"></iframe>

<div class="section">
    <div class="container">

        <div class="row">
            <div class="mcp-title-area">
                <h2>Contact Us</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">Got a question for us? Please use the form below for any general enquiries or comments and we'll come back to you as soon as we can.</p>
            </div>
        </div>

        <div class="row">
            <div class="mcp-area">
                <form id="contact_workshop" target="votar" method="post">

                        <input placeholder="First Name" type="text" tabindex="1" id="fname" name="fname" oninvalid="this.setCustomValidity('Please enter your first name')" oninput="this.setCustomValidity('')" required autofocus>

                        <input placeholder="Last Name" type="text" tabindex="1" id="lname" name="lname">

                        <input placeholder="Email address" type="email" id="email" name="email" tabindex="2" oninvalid="this.setCustomValidity('Please enter a valid email address')" oninput="this.setCustomValidity('')" required >

                        <input placeholder="Organisation's name" type="text" id="company" name="company" tabindex="3">

                        <textarea rows="4" cols="50" name="comment" form="contact_workshop" id="mess" placeholder="Your message" tabindex="4"></textarea>

<!--                         <label for="field_terms">
                            <input type="checkbox" class="mindhug_checkmark" id="field_terms" oninvalid="this.setCustomValidity('Please check the box to continue')" oninput="this.setCustomValidity('')" required/>I accept MindHug's <a href="/privacy-policy" target="_blank">Privacy Policy</a> and <a href = "/cookie-policy" target="_blank">Cookie Policy</a>.
                        </label> -->

                        <label class="mindhug_validation">

                            <input type="checkbox" class="mindhug_checkmark" id="field_terms" oninvalid="this.setCustomValidity('Please check the box to continue')" oninput="this.setCustomValidity('')" required/>

                            <span class="mindhug_checkmark"></span>
                            
                            <span>I agree to MindHug’s <a href="/privacy-policy" target="_blank" class="footer_link">Privacy Policy</a> and <a href = "/cookie-policy" target="_blank" class="footer_link">Cookie Policy</a>.</span>

                        </label>

                        <button name="submit" type="submit" id="contact-submit" tabindex="5" onclick="myFunction()">Submit</button>

                </form>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered" >
                <div class="modal-content">
                    <div class="modal-body">
                        <font style="font-size: 20px">Thanks for contacting us, we'll get back to you soon.</font>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

