{% extends 'layout.html' %}

{% block metatags %}

<meta name="description" content="We help find what works best for your happiness and wellbeing">

{% endblock %}

{% block title %}MindHug - Mental Wellbeing and You.{% endblock %}

{% block style %}

{% endblock %}

{% block body %}


<div class="jumbotron home" id="page_home" style="padding-right: 28px">
    <h1>MindHug<sup><font id="r_tag"  style="font-family: Lato, serif; ">&reg;</font></sup></h1>
    <h3>Mental wellbeing and you. Because one size does not fit all. </h3>
    <br>
    <br>
    <br>

    <p>We help find what works best for your happiness and wellbeing. We do this by harnessing the familiarity of community and the power of digital.  </p>
    <br>
    <br><br>
    <iframe name="votar" style="display:none;"></iframe>
    <section class="newsletter">
        <div class="row">
            <div class="content">
                <h2>Let's keep in touch</h2>
                <form  method="post" id="myForm" target="votar">
                    <div class="input-group">
                        <input type="email" class="form-control" name="sub_email" placeholder="Enter your email" oninvalid="this.setCustomValidity('Please enter a valid email address')" oninput="this.setCustomValidity('')" required>
                        <span class="input-group-btn">
                            <button class="btn" type="submit" onclick="myFunction()" name="subscribe_btn" value="subscribe_btn" id="subscribe_button" >Subscribe Now</button>
                        </span>

                    </div>
                    <div class="form-check" style="padding: 10px">

                        <label  for="field_terms"><input type="checkbox" class="btn-lg" id="field_terms" style="margin: 5px" oninvalid="this.setCustomValidity('Please check the box to continue')" oninput="this.setCustomValidity('')" required/><font style="font-size: 13px; font-weight: normal; color: dimgrey">I accept <a href="/privacy-policy" target="_blank"><u>privacy policy</u></a> and <a href = "/cookie-policy" target="_blank"><u>cookie policy</u></a>.</font><span class="mock_checkbox"></span></label>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title">Response received</h4>-->
<!--                </div>-->
            <div class="modal-body">
                <font style="font-size: 20px">Thank you for subscribing.</font>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" id="feat">
    <h3>Our team is busy building a platform that will allow you to:</h3>
</div>

<div class="container" >
    <div class="row" id="f1">
        <div class="col-sm-6 col-xs-push-0 col-sm-push-6 col-md-push-6 col-lg-push-6 " id="p1">
            <img class="img-responsive" style="max-height: 400px; width: auto" src="{{ url_for('static', filename='images/free.png') }}" alt="A wide choice of beneficial therapies and activities art therapy, mindfulness, music therapy, sound baths, breathing, pet therapy, drama therapy, yoga, and nature walks for your mental wellbeing" />
        </div>
        <div class="col-sm-6 col-xs-pull-0 col-sm-pull-6 col-md-pull-6 col-lg-pull-6">
            <h3>Explore your community</h3>
            <p>Find, book and try a wide choice of beneficial therapies and activities in your community. We will offer art therapy, mindfulness, music therapy, sound baths, breathing, pet therapy, drama therapy, yoga and nature walks.</p>
        </div>
    </div>
</div>

<div class="container" >
    <div class="row" id="f2">
        <div class="col-sm-6" id="p1">
            <img class="img-responsive" style="max-height: 400px; width: auto" src="{{ url_for('static', filename='images/digital.png') }}" alt="Explore digital content to try out different forms of therapies." />
        </div>
        <div class="col-sm-6">
            <h3>Engage digitally</h3>
            <p>Subscribe to a variety of digital content, media, activities and therapies. From experiential art based activities to guided meditation to breathing exercises. </p>
        </div>
    </div>
</div>

<div class="container" >
    <div class="row" id="f3">
        <div class="col-sm-6 col-xs-push-0 col-sm-push-6 col-md-push-6 col-lg-push-6 " id="p1">
            <img class="img-responsive" style="max-height: 400px; width: auto" src="{{ url_for('static', filename='images/workshop.png') }}" alt="Bespoke workshops and retreats to help rejuvenate yourself." />
        </div>
        <div class="col-sm-6 col-xs-pull-0 col-sm-pull-6 col-md-pull-6 col-lg-pull-6 ">
            <h3>Book workshops and events </h3>
            <p>Book and attend bespoke workshops and retreats to help rejuvenate yourself. If you would like to talk to us about organising a workshop for your organisation or group, please <a href="/contact-us">contact us</a>.</p>
        </div>
    </div>
</div>

<div class="container" >
    <div class="row" id="f4">
        <div class="col-sm-6" id="p1">
            <img class="img-responsive" style="max-height: 400px; width: auto" src="{{ url_for('static', filename='images/8493-min.png') }}" alt="Free events to meet your community and try some therapies and activities." />
        </div>
        <div class="col-sm-6">
            <h3>Experience free taster sessions </h3>
            <p>Attend free events to meet your community and try some therapies and activities. </p>
        </div>
     </div>
</div>

<div class="container">
    <div class="row" id="f5">
        <div class="col-sm-6 col-xs-push-0 col-sm-push-6 col-md-push-6 col-lg-push-6 ">
            <img class="img-responsive" style="max-height: 400px; width: auto" src="{{ url_for('static', filename='images/mood.png') }}" alt="Track your mood using our mood diary to keep a track of your mental wellbeing" />
        </div>
        <div class="col-sm-6 col-xs-pull-0 col-sm-pull-6 col-md-pull-6 col-lg-pull-6 " id="p1">
            <h3>Employ a mood diary and wellbeing analytics </h3>
            <p>Track lifestyle, sleep, diet, emotional health and your response to activities and therapies through our unique mood diary. Use our analytics to find what works best for you.</p>
        </div>
    </div>
</div>

<br>
<br>

<div class="container" id="intro">
    <h3>"We are doing amazing things for mental wellbeing."</h3>
    <br>
    <br>
    <p> If you would like to talk to us about deploying our platform for your organisation, school or university please get in touch.</p>
    <br>
    <br>
    <form action="/contact-us">
        <button class="btn" type="submit" id="b2">Contact Us</button>
    </form>
</div>

<br><br><br>

<div class="container" id="feat">
    <h3>Our promise to you: </h3>
</div>

<div class="container" style="padding-top: 10%">
    <div class="row" id="feat1">
        <div class="col-sm-6" id="pro2">
            <img class="img-responsive" src="{{ url_for('static', filename='images/cred.png') }}" alt="High quality and credible services" />
        </div>
        <div class="col-sm-6" id="t1">
            <h3>Credibility </h3>
            <p>We take the quality and credibility of our services and offerings very seriously. </p>
        </div>
    </div>
</div>

<div class="container" >
    <div class="row" id="feat2">
        <div class="col-sm-6  col-xs-push-0 col-sm-push-6 col-md-push-6 col-lg-push-6  " id="pro1">
            <img class="img-responsive"  src="{{ url_for('static', filename='images/saf.png') }}" alt="Your safety and welbeing is our number one priority" />
        </div>

        <div class="col-sm-6 col-xs-pull-0 col-sm-pull-6 col-md-pull-6 col-lg-pull-6 " id="t1">
            <h3>Safety </h3>
            <p>The safety and wellbeing of everyone on the platform is our number one priority. </p>
        </div>
    </div>
</div>

<div class="container" >
    <div class="row" id="feat3">
        <div class="col-sm-6" id="pro3">
            <img class="img-responsive"  src="{{ url_for('static', filename='images/priv2.png') }}" alt="You control your data, as MinHug is committed to your privacy" />
        </div>
        <div class="col-sm-6" id="t1">
            <h3>Privacy </h3>
            <p>You control your data and decide if, when and with whom you want to share it. </p>
        </div>
    </div>
</div>

<br><br><br>

<div class="container" id="intro2" style="border: 1px solid rgb(64,224,208);">
    <h3>Stay in touch</h3>
    <br>
    <p> If you would like to get early access when we go live and/or stay abreast of our developments please subscribe.</p>
    <iframe name="votar" style="display:none;"></iframe>
    <section class="newsletter">
        <div class="row">
            <div class="content">

                <form  method="post" id="myForm1" target="votar">
                    <div class="input-group">
                        <input type="email" class="form-control" name="sub_email1" placeholder="Enter your email" oninvalid="this.setCustomValidity('Please enter a valid email address')" oninput="this.setCustomValidity('')" required>
                        <span class="input-group-btn">
                            <button class="btn" type="submit" onclick="myFunction1()" name="subscribe_btn" value="subscribe_btn1" id="subscribe_btn" >Subscribe Now</button>
                        </span>

                    </div>
                    <div class="form-check" style="padding: 10px">
                        <label  for="field_terms1"><input type="checkbox" class="btn-lg" id="field_terms1" style="margin: 5px" oninvalid="this.setCustomValidity('Please check the box to continue')" oninput="this.setCustomValidity('')" required/><font style="font-size: 13px; font-weight: normal; color: dimgrey">I accept <a href="/privacy-policy" target="_blank"><u>privacy policy</u></a> and <a href = "/cookie-policy" target="_blank"><u>cookie policy</u></a>.</font><span class="mock_checkbox"></span></label>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block script %}

<script>
    function myFunction() {
        var email = document.forms["myForm"]["sub_email"].value;
        if (validate(email) && document.getElementById('field_terms').checked) {
            $('#myModal').modal('show');
        }
        else {
            return false;
        }
    }
    function myFunction1() {
        var email = document.forms["myForm1"]["sub_email1"].value;
        if (validate(email) && document.getElementById('field_terms1').checked) {
            $('#myModal').modal('show');
        }
        else {
            return false;
        }
    }
    function closeModal() {
        document.getElementById("myForm").reset();
        document.getElementById("myForm1").reset();
    }
    function validate(email) {
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{1,4})$/;
        if (reg.test(email) == false) {
            return false;
        } else {
            return true;
        }
    }

</script>

<script>
    window.addEventListener("DOMContentLoaded", function(e) {
        var myForm = document.getElementById("myForm");
        var checkForm = function(e) {
            ...
            if(!this.terms.checked) {
                alert("Please indicate that you accept the Terms and Conditions");
                this.terms.focus();
                e.preventDefault(); // equivalent to return false
                return;
            }
        };

        // attach the form submit handler
        myForm.addEventListener("submit", checkForm, false);

        var myCheckbox = document.getElementById("field_terms");
        var myCheckboxMsg = "Please indicate that you accept the Terms and Conditions";

        // set the starting error message
        myCheckbox.setCustomValidity(myCheckboxMsg);

        // attach checkbox handler to toggle error message
        myCheckbox.addEventListener("change", function(e) {
            this.setCustomValidity(this.validity.valueMissing ? myCheckboxMsg : "");
        }, false);

    }, false);
</script>

{% endblock %}
