{% extends 'layout.html' %}

{% block metatags %}
<meta name="description" content="We help find what works best for your happiness and wellbeing">
{% endblock %}

{% block title %}MindHug - Mental Wellbeing and You.{% endblock %}

<body>

{% block body %}

<div class="top_container">

    {% include 'includes/_navbar.html' %}

    <section class="hero_section ">
      <div class="hero-container container">
        <div class="hero_detail-box">
          <h1>
            Mental wellbeing and you. Because one size does not fit all.
          </h1>
          <p>
            We help find what works best for your happiness and wellbeing. We do this by harnessing the familiarity of community and the power of digital.
          </p>
          <div class="hero_btn-continer">
            <button class="call_to-btn btn_white-border" onClick="document.getElementById('signupnow').scrollIntoView();">
              Stay In Touch
            </button>
          </div>
        </div>
        <div class="hero_img-container">
          <div>
            <img src="{{ url_for('static', filename='images/hero.png') }}" alt="MindHug Hero" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
</div>
<!-- end header section -->

  <div class="common_style">

    <!-- section one -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                Explore your community
              </h3>
              <p>
                Find, book and try a wide choice of beneficial therapies and activities in your community. We will offer art therapy, mindfulness, music therapy, sound baths, breathing, pet therapy, drama therapy, yoga and nature walks.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section two -->
    <section class="admission_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="admission_detail-box">
              <h3>
                Engage digitally
              </h3>
              <p>
                Subscribe to a variety of digital content, media, activities and therapies. From experiential art based activities to guided meditation to breathing exercises.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="admission_img-container">
              <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section three -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
              <h3>
                Book workshops and events
              </h3>
              <p>
                Book and attend bespoke workshops and retreats to help rejuvenate yourself. If you would like to talk to us about organising a workshop for your organisation or group.
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Contact Us
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section four -->
    <section class="determine_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="determine_detail-box">
              <h3>
                Experience free taster sessions
              </h3>
              <p>
                Attend free events to meet your community and try some therapies and activities.
              </p>
              <div class="">
                <a href="https://www.eventbrite.com/o/mindhug-29549779583" class="call_to-btn btn_white-border">
                  Events
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="determine_img-container">
              <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section five -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
              <h3>
                Employ a mood diary and wellbeing analytics
              </h3>
              <p>
                Track lifestyle, sleep, diet, emotional health and your response to activities and therapies through our unique mood diary. Use our analytics to find what works best for you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- section six -->
    <section class="determine_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="determine_detail-box">
              <h3>
                Credibility
              </h3>
              <p>
                We take the quality and credibility of our services and offerings very seriously.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="determine_img-container">
              <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section seven -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
              <h3>
                Safety
              </h3>
              <p>
                The safety and wellbeing of everyone on the platform is our number one priority.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section eight -->
    <section class="determine_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="determine_detail-box">
              <h3>
                Privacy
              </h3>
              <p>
                You control your data and decide if, when and with whom you want to share it.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="determine_img-container">
              <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- testimonial section -->
  <section class="client_section layout_padding">
    <h2 class="">
      Testimonial
    </h2>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                          <img src="{{ url_for('static', filename='images/testimonial.png') }}" alt="">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            Alex Du
                          </h5>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                          <img src="{{ url_for('static', filename='images/testimonial.png') }}" alt="">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            Alex Du
                          </h5>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                          <img src="{{ url_for('static', filename='images/testimonial.png') }}" alt="">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            Alex Du
                          </h5>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
    </div>
  </section>

  </div>

{% endblock %}
