<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156513245-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-156513245-1');
    </script>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}">

    <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
    <script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.wpcc.init({
                "colors":{
                    "popup":{
                        "background":"#222222",
                        "text":"#ffffff",
                        "border":"#f9f9f9"
                    },
                    "button":{
                        "background":"#F1D600",
                        "text":"#000000"
                    }
                },
                "position":"bottom",
                "margin":"none",
                "transparency":"10",
                "content":{
                    "message":"This website uses cookies to ensure you get the best experience on our website.",
                    "link":"Cookie Policy",
                    "button":"Close",
                    "href":"/cookie-policy"
                }
            })
        });
    </script>
</head>

{% block style %} {% endblock %}

<body>

{% include 'includes/_navbar.html' %}

{% block body %} {% endblock %}

{% include 'includes/_footer.html' %}

</body>

{% block script %} {% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
