{% extends 'layout.html' %}

{% block metatags %}
<meta name="description" content="Partnerships at MindHug">
{% endblock %}

{% block title %}Partnerships at MindHug{% endblock %}

<body class="sub_page">

{% block body %}

{% include 'includes/_navsub.html' %}

    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <picture>
                <source srcset="{{ url_for('static', filename='images/ucl-inno.webp') }}" type="image/webp" alt="UCL Innovation and Enterprise" class="img-fluid">
                <source srcset="{{ url_for('static', filename='images/ucl-inno.png') }}" type="image/png" alt="UCL Innovation and Enterprise" class="img-fluid"> 
                <img src="{{ url_for('static', filename='images/ucl-inno.png') }}" type="image/png" alt="UCL Innovation and Enterprise" class="img-fluid">
              </picture>
            </div>
          </div>
          <div class="col-md-6" style="margin: 200px auto;">
            <div class="about_detail-box">
              <h3>
                Our Current Partner
              </h3>
              <p>
                We are always on the lookout for valuable partnerships. If you would like to partner with us, feel free to contact us.
              </p>
              <div class="">
                <a href="/partnerships/partnership-form" class="call_to-btn btn_white-border">
                  Contact Us
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}