{% extends 'layout.html' %}

{% block metatags %}
<meta name="description" content="MindHug for Therapists">
{% endblock %}

{% block title %}MindHug's Panel of Therapists{% endblock %}

{% block body %}

<div class="jumbotron therapists" id="page_home">
    <h1>Therapists</h1>
</div>

<div class="container" id="intro">
    <h3>Are you a therapist or an activity provider keen to join us on our journey?</h3>
    <br>
    <br>
    <form action="/therapists/therapists-form">
        <button class="btn" type="submit" id="b2">Contact us</button>
    </form>
</div>

{% endblock %}
