  <footer class="footer" id="footy">

    <div class="container bottom_border">
      <div class="row">

        <div class="col-sm-4 col-md col-sm-4 col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
        <p class="mb10">
        MindHug<br>
        UCL BaseKX,<br>
        103c Camley Street,<br>
        London N1C 4PF</p>

        <p><i class="fa fa fa-envelope email-icon"></i>
        <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#109;&#105;&#110;&#100;&#104;&#117;&#103;&#46;&#105;&#111;" title="MindHug Email" class="footer-email">E-mail Us</a>
        </p>
        </div>

        <div class="col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Connect</h5>
        <ul class="footer_ul_amrc">
        <li><a href="https://www.facebook.com/mymindhug/"><i class="fa fa-facebook-square"></i> Facebook</a></li>
        <li><a href="https://www.linkedin.com/company/mindhug"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
        <li><a href="https://instagram.com/mymindhug?igshid=5vhb6th1p1p8"><i class="fa fa-instagram"></i> Instagram</a></li>
        <li><a href="https://twitter.com/mymindhug?s=08"><i class="fa fa-twitter-square"></i> Twitter</a></li>
        <li><a href="https://medium.com/mymindhug"><i class="fa fa-medium"></i> Medium</a></li>
        </ul>
        </div>

        <div class="col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quick Links</h5>
        <ul class="footer_ul_amrc">
        <li><a href="/careers">Careers</a></li>
        <li><a href="/cookie-policy">Cookie Policy</a></li>
        <li><a href="/disclaimer">Disclaimer</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/terms">Terms of Use</a></li>
        </ul>
        </div>

        <div class="col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Crisis Contacts</h5>
        <p class="mb10">If you or a loved one needs help, please use the resources and contacts below. If you feel you are a danger to yourself, or others call 999 immediately.</p>
        <a href="https://www.prevent-suicide.org.uk/find-help-now/" class="btn btn-primary call_to-btn mx-1">Crisis Resources</a>
        </div>

      </div>
    </div>

    <div class="container">
    <p class="footer-copy">Copyright &copy; 2020 MindHug, Ltd. All Rights Reserved. Registered in England and Wales, no. 12293600.</p>
    </div>

  </footer>
